<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      <a class="navbar-brand" href="/">U N D M S</a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">
        <li id="home"><a href="/">Home</a>|</li>
        <li id="reports"><a href="/reports">Reports</a>|</li>
        <li id="statistics"><a href="/statistics">Statistics</a></li>
      </ul>
    </div>
  </div>
</nav>