<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<% include partials/head %>
<% include partials/menu %>
< 
<div class="container-fluid bg-3 text-center">
  <div class="jumbotron">
    <div class="container">
      <h1>Under-five Nutrition<br />Data Management System</h1>

      <h3>A platform for under-five nutrition data in Malawi</h3><br>
      <a class="btn btn-default btn-lg" href="/developer/" role="button">Get Started &raquo;</a>
    </div>
  </div>
  <div >
    <h2>Available Statistics for______</h2>
    <div class="row" style="margin-top:10px; ">
      <h4>Period : From <input type="date"> <span> To </span> <input type="date"></h4>
    </div>

  </div>
</div>
<div class="row">
  <div class=" text-center" style="font-size: 24px; ">
    <div class="col-sm-4" >
      <img src="/public/img/stunted.jpg"><br><span>Wasted Children</span>
    </div>
    <div class="col-sm-4">
      <img src="/public/img/stunted.jpg"><br><span>Underweight Children</span>
    </div>
    <div class="col-sm-4">
      <img src="stunted.jpg" style="width:200px;height:200px;"/><br><span>Overweight Children</span>

    </div>

  </div>
</div>
<div class="row">
  <div class=" text-center" style="font-size: 24px; ">
    <div class="col-sm-4" >
      <img src="/public/img/stunted.jpg"><br><span>Malnourished Children</span>
    </div>
    <div class="col-sm-4">
      <img src="/public/img/stunted.jpg"><br><span>Stunted Children</span>
    </div>
    <div class="col-sm-4">

    </div>

  </div>
</div>

</body>
<% include partials/script %>
</html>