<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body >
<% include partials/head %>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
    <div class="jumbotron">
        <div class="container">
            <h2>Under-five Nutrition<br />Data Management System</h2>

            <h3>A platform for under-five nutrition data in Malawi</h3><br>
            <a class="btn btn-default btn-lg" href="/developer/" role="button">Get Started &raquo;</a>
        </div>
    </div>
    <div >
        <h2>Featured Data Operations</h2>

    </div>
</div>
<div class="row">
    <div class=" text-center" style="font-size: 24px; ">
        <div class="col-sm-4" style>
            <a href="/"> <i class="fab fa-wpforms fa-8x"></i><br><span>Generate Reports</span></a>

        </div>
        <div class="col-sm-4">
            <a href="/">  <i class="fas fa-database fa-8x"></i><br><span>View Submitted Data</span></a>

        </div>
        <div class="col-sm-4">
            <a href="/"> <i class="far fa-chart-bar fa-8x"></i><br><span>District Nutrition Statistics</span></a>

        </div>

    </div>
</div>

</body>
<% include partials/script %>
</html>